.searchedItem {
	/*限制li宽度为ul宽度，随意添加padding*/
	box-sizing: border-box;
	width: 100%;
	/*去除圆点*/
	list-style: none;
	padding-left: 0px;
	/**/
	color: white;
	background-color: rgb(177, 171, 171);
	opacity: 0.95;
}

.searchedItem:hover {
	opacity: 1;
	background-color: rgba(117, 112, 112, 0.568);
}


.searchedItem #pid {
	text-align: center;
}


