.article {
	padding: 5px;
	max-width: 800px;
	margin: 0 auto;
}

.article #main {
	margin-top: 15px;
}

.article #main span {
	display: inline-block;
	word-wrap: break-word;
	word-break: break-all;
	text-align: center;
	width: 100%;
}
