.searched2 .searchedList {
	background-color: rgb(184, 180, 180);
	opacity: 0.95;
	width: 175px;
	padding-left: 0px;
	margin: 0;
	min-height: 100px;
	position: absolute;
	top: 56px;
	right: 0;
	z-index: 1;
}

.searched2 .searchedList:hover {
	opacity: 1;
}
.searched2 .resultOfName {
	padding-left: 0;
}

@media screen and (max-width: 568px) {
	.searched2 .searchedList {
		opacity: 1;
	}
}

@media screen and (min-width: 930px) {
	.searched2 .searchedList {
		right: 26%;
		transform: translate(175px);
	}
}
