.header1 {
	background-color: white;
	/*实现search-box, history垂直居中*/
	line-height: 56px;
	height: 56px; /*实现search-box垂直居中*/
	/*置顶*/
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
	box-shadow: 0 0 15px rgb(0 0 0 / 10%);
}
/*置顶的header1是定位的，脱离普通流，后面的普通流盒子不会被影响，还是从顶部开始排布。
为了给后面的盒子从header1底部开始排布，给header1加个普通盒子。*/
.header1-wrap {
	height: 56px;
	position: relative;
}
.header1 .history {
	position: absolute;
	top: 0;
	right: 0;
	/*水平居中*/
	text-align: center;
	width: 140px; /*实现history水平居中*/
	color: black;
}

.header1 .search {
	margin-left: 200px; /*pc端：给左盒子留出110px*/
	margin-right: 140px;
}

.header1 .search_by {
	position: absolute;
	top: 0;
	left: 0;
	/*水平居中*/
	text-align: center;
	width: 200px; /*实现search_by水平居中*/
	color: black;
	font-weight: 700;
}

.header1 .select_name {
	background-color: rgb(184, 180, 180);
	color: white;
	padding-left: 0;
	margin-left: 0;
	height: 56px;
	width: 85px;
	position: absolute;
	top: 56px;
	left: 0;
	z-index: 1;
	border-radius: 10px;
}

/*input框*/
.header1 .search .search-box {
	box-sizing: border-box;
	padding: 15px;
	width: 100%;
	height: 40px; /*实现search-box垂直居中*/
	border-radius: 35px;
	outline: none;
	border: 1px solid grey;
	max-width: 700px;
}
.header1 .history .downoutlined {
	padding: 3px;
}

.header1 .history .tablet {
	width: 170px; /*实现history水平居中*/
	color: black;
	font-weight: 700;
	/* 文本不能被选中 */
	user-select: none;
}

.mobile {
	display: none;
}

@media screen and (min-width: 930px) {
	.header1 .search {
		margin-left: 26%;
		margin-right: 26%;
		position: relative;
		height: 56px;
	}

	.header1 .search .search-box {
		width: 100%;
		position: absolute;
		left: 50%;
		top: 28px;
		transform: translate(-50%, -20px);
	}

	.header1 .search_by {
		width: 25%;
		text-align: right;
	}

	.header1 .history {
		width: 25%;
		text-align: left;
	}

	.header1 .history .history-span {
	}
}
@media screen and (max-width: 568px) {
	.tablet {
		display: none;
	}

	.mobile {
		display: block;
	}

	.header1 .history {
		width: 50px;
	}
	.header1 .history span {
		width: 50px;
	}

	.header1 .search_by {
		width: 65px;
	}

	.header1 .search {
		margin-left: 60px; /*mobile端：给左盒子留出50px*/
		margin-right: 50px;
	}
}
