.header1 {
	position: relative;
	background-color: black;
	/*实现search-box, history垂直居中*/
	line-height: 56px;
	height: 56px; /*实现search-box垂直居中*/
}

.header1 .history {
	position: absolute;
	top: 0;
	/*水平居中*/
	text-align: center;
	width: 110px; /*实现history水平居中*/
}
.header1 .search {
	margin: 0 110px; /*pc端：给左右盒子留出110px*/
}

/*input框*/
.header1 .search #search-box {
	box-sizing: border-box;
	width: 100%;
	height: 40px; /*实现search-box垂直居中*/
	padding: 6px;
	border-radius: 35px;
	outline: none;
}

.header1 span {
	width: 110px; /*实现history水平居中*/
	color: white;
	font-weight: 700;
	/* 文本不能被选中 */
	user-select: none;
}
